body {
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
    padding-bottom: 50px;
}

h3 {
    margin-top: 50px;
}

li {
    margin: 25px 50px 0 0;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    width: 50%;
    vertical-align: top;
    padding: 10px;
}

.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}
